html{
      scroll-behavior: smooth;
}


body{
      /* background: linear-gradient(to right, rgba(92, 1, 1, 0.842), rgba(0, 1, 83, 0.877)); */
}

@font-face{
      font-family: 'JCardenas';
      src: url(PermanentMarker-Regular.ttf);
}

/* Contenedor Padre */
.container{
      background-color: red;
      min-height: 100vh;
}

/* Contenedor Hijo I */
.cont-top{
      background-color: blue;
      display: flex;
      padding: 5px;
      justify-content: space-between;
}
.cont-lbl-left{
      background-color: cyan;
      display: flex;
      text-align: center;
      align-items: center;
}
.Subsidio-Mentario{
      font-size: 28px;
      font-family: 'JCardenas';
      opacity: 0.8;
}

.cont-lbl-middle{
      background-color: darkgoldenrod;
      display: flex;
      text-align: center;
      align-items: center;
      width: 550px;
      justify-content: space-between;
}
.lbl-middle{
      background-color: red;
      font-size: 28px;
      font-family: 'JCardenas';
      opacity: 0.8;
}
.cont-lbl-right{
      border-left: 1px solid black;
      border-bottom: 1px solid black;
}

.Gob-Peru{
      width: 220px;
      height: 50px;
}


/* Contenedor Hijo 2 */
.cont-middle{
      background-color: green;
      display: flex;
}
.left{
      background-color: darkred;
      width: 700px;
}
.cont-img{
      background-color: cyan;
      display: flex;
      justify-content: center;
}
.Log-BonoFam{
      background-color: green;
      width: 300px;
      height: 200px;
}
.cont-lblwarning{
      background-color: deeppink;
}
.Warning-Icon{
      background-color: red;
}
li{
      background-color: cyan;
}

.right{
      background-color: darkslategray;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
}
.cont-consult{
      background-color: red;
      margin-top: 5px;
      padding: 10px;
      font-size: 28px;
      font-family: sans-serif;
      letter-spacing: 1px;
      color: white;
}
.cont-instructions{
      margin-top: 15px;
      background-color: bisque;
      width: 500px;
}
.tuto{
      color: red;
}
.cont-input-Dni{
      background-color: blue;
}
.user-icon{
      width: 30px;
      height: 30px;
      background-color: red;
}
.cont-input-date-emition-DNI{
      background-color: blueviolet;
}
.date-icon{
      width: 30px;
      height: 30px;
}
.sign-Question{
      width: 20px;
      height: 20px;
}
.show-date-emition-DNI{
      background-color: chocolate;
      color: white;
}
.cont-btn-Consult{
      background-color: yellow;
}
.Consult{
      /* color:  black;
      width: 100px;
      letter-spacing: 2px;
      box-shadow: 0 2px 2px -2px;
      font-family: 'JCardenas';
      cursor: pointer; */
}
.Consult::selection{
      background-color: transparent;
}

/* Contenedor Hijo 3 */
.cont-down{
      background-color: purple;
      display: flex;
      justify-content: space-between;
      padding: 5px;
}
.cont-img-peru{
      background-color: darkturquoise;
      display: flex;
}
.Minis{
      width: 100px;
      height: 50px;
}
.cont-img-Reniec-Peru{
      background-color: deeppink;
      display: flex;
}
.Logo-Reniec, .Logo-Peru-Prim{
      width: 100px;
      height: 50px;
}

/* Contenedor Diseño de DNI */
.container-draw-DNI{
      display: none;
      background-color: indianred;
}

/* Contenedor de resultado */
.cont-result{
      display: none;
      /* display: flex; */
}