*{
      padding: 0;
      margin: 0;
}

body{
      background: linear-gradient(to right, rgba(92, 1, 1, 0.842), rgba(0, 1, 83, 0.877));
      color: white;
}

@font-face{
      font-family: 'JCardenas';
      src: url(PermanentMarker-Regular.ttf);
}

.Consult{
      background: linear-gradient(to right, rgb(71, 69, 69), rgba(0, 0, 0, 0.514));
      color:  white;
      width: 100px;
      height: 20px;
      text-align: center;
      padding: 10px;
      letter-spacing: 2px;
      margin: 40px auto;
      box-shadow: 0 2px 2px -2px;
      /* font-family: 'JCardenas; */
}

.Consult:hover{
      background-color: rgb(126, 124, 124);
      color: white;
      cursor: pointer;
      letter-spacing: 4px;
      transition: all .2s ease;
      transform: translateY(-2px);
      box-shadow: 0 12px 5px -12px;
}

.Consult:active{
      background-color: rgba(94, 88, 88, 0);
      color: white;
      cursor: pointer;
      letter-spacing: 1px;
      box-shadow: 0 2px 2px -2px;
      transform: translateY(0px);
}

.Consult::selection{
      background-color: transparent;
}

.cont-result{
      /* display: none; */
      display: flex;
      flex-direction: row;
      margin-left: 20px;
      background: rgba(92, 1, 1, 0.842);
      padding: 15px;
      color: #151515;
      letter-spacing: 2px;
      font-size: 18px;      
}

.cont-person{
      margin-right: 10px;
      box-shadow: 0 5px 15px #151515;
      padding: 2px;
      text-align: justify;
      background-color: rgb(116, 27, 27);
}

.cont-person:active{
      box-shadow: inset 0 0px 5px #151515;
}

.cont-person:hover{
      transform: rotateZ(-10px);
      transition: all .4s ease;
}