/* *{
      padding: 0;
      margin: 0;
} */

body{
      background: linear-gradient(to right, rgba(92, 1, 1, 0.842), rgba(0, 1, 83, 0.877));
      color: white;
}

@font-face{
      font-family: 'JCardenas';
      src: url(PermanentMarker-Regular.ttf);
}

.Consult{
      color:  white;
      width: 100px;
      letter-spacing: 2px;
      box-shadow: 0 2px 2px -2px;
      font-family: 'JCardenas';
      cursor: pointer;
}
.Consult::selection{
      background-color: transparent;
}

.cont-result{
      display: none;
      /* display: flex; */
}